{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "target": "es2020",
    "loose": false
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": false,
  "isModule": false
} 